<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @project, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Detalhes
  <% end %>
  <h1>Editar projeto</h1>
</div>

<%= render 'form' %>
